/* ######################################################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.highresolution.info/webdesign/yaml/) #
** ######################################################################################################
** 
**  YAML Version: 2.1.1
**  Dateiversion: 04.02.06  
**  Datei       : basemod_bsp_variante1.css
**  Funktion    : Variation des Basislayouts (2-Spalten-Layout mit Spaltentrenner)
**
*/

@media screen
{
/* Rechte Spalte abschalten */
#col2 { display:none; }
#col2_content { display:none; }

/* rechten Randabstand anpassen */
#col3 { margin-right:0; border-right:0; }

/* Spaltentrenner */
#col3 {border-left: 2px #ddd dotted;}

} 
